*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 25px;
}
h2{
    font-size: 20px;
}
/*header*/
.header{
    width: 100%;
    min-height: 15vh;
    background-color: rgb(112, 4, 105);
}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 15px;
    align-items: center;
}
.nav a{
    width: 100%;
    padding: 5px;
    color: beige;
    text-decoration: none;
    border: 1px solid whitesmoke;
    border-radius: 50px;
    font-weight: bold;
}
.nav a[href= "#"]{
    background-color: whitesmoke;
    color:rgb(112, 4, 105);
}
.nav a:hover{
    background-color: rgb(243, 220, 241);
    color:rgb(112, 4, 105);
}
#logo{
    width: 40px;
    justify-content: end;
}
/*main home*/
.main{
    width: 100%;
    min-height: 75vh;
    background-color: rgb(248, 248, 248);
    display: inline-block;
    text-align: center;
}

.section{
    padding-top: 10px;
}
.banner{
    width: 70%;
    height: 40vh;
    padding: 10px;
}
.section_article{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
}
.section_article p{
    width: 100ch;
    text-align: center;
    padding: 0 15px;
}
.Img_art{
    width: 80px;
    box-shadow: 3px 3px 3px 0 rgb(149, 122, 147);
    border-radius: 70px;
}
/*main about*/
.main_about{
    width: 100%;
    min-height: 75vh;
}
.title_about{
    text-align: center;
    padding-top: 10px ;
}
.img_foto{
    width: 100px;
    border: 2.5px solid rgb(112, 4, 105);
}

.article_about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.article_about p{
    padding: 20px;
    width: 50ch;
}
/*main contact*/
.main_contact{
    width: 100%;
    height: 75vh;
    padding-top: 20px;
}
.title_contact{
    text-align: center;
}
.title_contact a{
    text-decoration: none;
    color: black;
}
.section_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.img_conos{
    width: 500px;
    height: 300px;
    padding: 20px;
}
.contact_pedido{
    display: flex;
    justify-content: space-evenly;
    
}
.contact_pedido a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
/*main information*/
.main_information{
    width: 100%;
    height: 75vh;
    padding: 20px;
}
.section_info{
    padding-bottom:10px ;
}

/*main benefits*/
.main_benefits{
    width: 100%;
    height: 75vh;
    padding: 25px 55px;
}
.title_tips{
    text-align: center;
    padding: 10px;
}
.tips{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.section_benefits{
    border: 1.5px solid black;
    margin: 20px;
    padding: 10px;
}
.tips ul{
    width: 50ch;
    padding-left: 120px;
}
.tips_benef{
    text-align: center;
}
.img_tips{
    width: 100px;
    height: 100px;
}
/*footer*/
.footer{
    width: 100%;
    min-height: 10vh;
    background-color: rgb(112, 4, 105);
}

.footer p{
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
    padding: 25px;
    
}
