*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 20px;
}
/*header*/
.header{
    width: 100%;
    min-height: 15vh;
    background-color: rgb(112, 4, 105);
}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.nav a{
    display: flex;
    padding: 5px;
    margin: 5px;
    color: beige;
    text-decoration: none;
    border: 1px solid whitesmoke;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
}
.nav a[href= "#"]{
    background-color: whitesmoke;
    color:rgb(112, 4, 105);
}
.nav a:hover{
    background-color: rgb(243, 220, 241);
    color:rgb(112, 4, 105);
}
#logo{
    width: 40px;
    justify-content: end;
}
/*main home*/
.main{
    width: 100%;
    min-height: 75vh;
    background-color: rgb(248, 248, 248);
    display: inline-block;
    text-align: center;
}

.section{
    padding-top: 10px;
}
.banner{
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding: 10px;
}
.section_article{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px;
}
.section_article p{
    width: 30ch;
    text-align: center;
    padding: 15px;
    font-size: 18px;
}
.Img_art{
    width: 80px;
    box-shadow: 3px 3px 3px 0 rgb(149, 122, 147);
    border-radius: 70px;
}
/*main about*/
.main_about{
    width: 100%;
    min-height: 75vh;
    padding: 10px;
}
.title_about{
    text-align: center;
    padding-top: 10px ;
}
.img_foto{
    width: 90px;
    height: 90px;
    border: 2.5px solid rgb(112, 4, 105);
}

.article_about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
.article_about p{
    padding: 10px;
    width: 20ch;
    font-size: 18px;
    text-align: center;
}
/*main contact*/
.main_contact{
    width: 100%;
    min-height: 75vh;
    padding: 10px;
}
.title_contact{
    text-align: center;
}
.title_contact a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.section_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.img_conos{
    width: 80%;
    height: 170px;
    object-fit: cover;
}
.contact_pedido{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; 
    gap: 10px;  
}
.contact_pedido a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.txt_contact{
    width: 30ch;
    text-align: center;
    padding-top: 15px;
}
/*main information*/
.main_information{
    width: 100%;
    min-height: 75vh;
    padding: 10px;
}
.section_info{
    padding-bottom:25px ;
    text-align: center;
}
table, tr, td, th{
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 18px;
}
table{
    text-align: center;
    border-collapse: collapse;
}
/*main benefits*/
.main_benefits{
    width: 100%;
    min-height: 75vh;
    padding: 20px ;
}
.title_tips{
    text-align: center;
    padding: 10px;
}
.tips{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
}
.section_benefits{
    border: 1.5px solid black;
    margin: 20px 0;
    
}
.tips ul{
    width: 25ch;
    font-size: 18px;
    text-align: start;
}
.tips_benef{
    text-align: center;
}
.img_tips{
    width: 50%;
    height: 100px;
    object-fit: cover;
}

/*Main Raffle*/
.main_raffle{
    width: 100%;
    min-height: 75vh;
    background-color: rgb(248, 248, 248);
    text-align: center;
    padding-bottom: 60px;
    padding-top: 10px;
}
.section_raffle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
   
}
.select{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    gap: 10px;
    border: 1.5px solid black;
    font-size: 17px;
}
.textarea{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.text{
    padding: 2.5px 5px;
}
.button{
    width: 40px;
}
.maps{
    width: 90%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    
}
.location{
    font-size: 18px;
    padding: 10px;
}

/*footer*/
.footer{
    width: 100%;
    min-height: 10vh;
    background-color: rgb(112, 4, 105);
}

.footer p{
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
    padding: 25px;
    font-size: 16px;
}
